@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@700&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
}

.outer{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #1A237E,#9575CD);
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
}

.inner{
    align-self: center;
    width: 86%;
    height: 78%;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 4px 4px 4px 4px black;
    
}

.welcomeText{
    display: flex;
    justify-content: center;
    text-align: center;
    align-self: center;
    flex-direction: column;
}

.welcomeText > h3{
    font-family: 'Roboto Slab';
    font-weight: bolder;
    font-size: 36px;
    background: -webkit-linear-gradient(#303F9F,#9575CD);
    background: #303F9F;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 2rem;
}

.btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.for-customer{
    display: flex;
    justify-content: center;
    background: linear-gradient(to right bottom,#303F9F,#9575CD);
    color: white;
    width: 9rem;
    height: 3.5rem;
    padding: 1rem 1rem;
    margin-right: 2rem;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Roboto Slab';
    font-weight: bold;
    transition: ease;
}

.for-vendor{
    display: flex;
    justify-content: center;
    background: linear-gradient(to right bottom,#303F9F,#9575CD);
    color: white;
    width: 9rem !important;
    height: 3.5rem !important;
    padding: 1rem 1rem !important;
    margin-right: 2rem !important;
    border-radius: 6px !important;
    cursor: pointer !important;
    font-family: 'Roboto Slab';
    font-weight: bold;
    transition: ease;
}


.for-customer:hover, .for-vendor:hover{
    background:#1A237E;
    background: linear-gradient(to right bottom,#1A237E,#9575CD);
    transition: 8s ease-in-out;
    
}


.logo{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 10rem;
    float: right;
}